@import '../../../../static/scss/public.scss';

.home{
    width: 100%;
    height: 100%;
    @include flex(column,space-between);
    &>.container{
        flex: 1;
        width: 100%;
        overflow-y: auto;
        background-color: #f0f0f0;
        .swiper-slide{
            &>img{
                width: 100%;
                vertical-align: middle;
            }
        }
        .swiper-pagination{
            &>.swiper-pagination-bullet{
                background-color: transparent;
                border: 1px solid #fff;
                opacity: 1;
                &.swiper-pagination-bullet-active{
                    background-color: #fff;
                }
            }
        }
        &>.recommend{
            margin: 15px 0;
            background-color: #fff;
            &>h2{
                font-size: 16px;
                padding: 7px 0 7px 10px;
                border-left: 5px solid $themeColor;
            }
            &>ul{
                box-sizing: border-box;
                @include flex(row,flex-start);
                flex-wrap: wrap;
                border-bottom: 1px solid $borderColor;
                &>li{
                    width: 50%;
                    box-sizing: border-box;
                    @include flex(row);
                    border-top: 1px solid $borderColor;
                    border-right: 1px solid $borderColor;
                    &:nth-child(2n){
                        border-right: none;
                    }
                    &>a{
                        width: 100%;
                        @include flex(column,flex-start);
                        &>img{
                            width: 100%;
                            min-height: 159px;
                            vertical-align: middle;
                            background: url('../../../../static/img/imgLoading.png') no-repeat center center;
                            background-size: 40%;
                        }
                        &>h6{
                            padding: 0 3px;
                            box-sizing: border-box;
                            text-align: center;
                            width: 100%;
                            font-size: 14px;
                            color: #333;
                            @include ellipsis();
                        }
                        &>span{
                            margin: 5px;
                            font-size: 14px;
                            color: $seThemeColor;  
                        }
                    }
                }
            }
        }
    }
}
