@import '../../../../static/scss/public.scss';
.loading{
    &.fade-enter-active, &.fade-leave-active {
        transition: opacity .2s
    }
    &.fade-enter, &.fade-leave-active {
        opacity: 0
    }
    &>.mask{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        z-index: 10;
    }
    &>.container{
        position: fixed;
        top: 50%;
        left: 50%;
        z-index: 10000;
        @include flex(row);
        transform: translate3d(-50%,-50%,0);
        border-radius: 10px;
        background: rgba(0,0,0,.502);
        box-sizing: border-box;
        width: 100px;
        height: 100px;
        &>span{
            width: 28%;
            height: 28%;
            border-radius: 50%;
            border: .2em solid #fff;
            border-left-color: transparent;
            animation: rotate .6s infinite linear;
        }
    }
}
@keyframes rotate{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}