@import '../../../../static/scss/public.scss';

.cart{
    width: 100%;
    height: 100%;
    @include flex(column,space-between);
    &>.header{
        &>.container{
            &>.left{
                &>span{
                    width: 50px;
                    height: 50px;
                    @include flex(row);
                    @include space(3px);
                }
            }
        }
    }
    &>.container{
        flex: 1;
        width: 100%;
        overflow-y: auto;
        &>.list{
            &>h2{
                margin-top: 10px;
                @include flex(row,flex-start);
                width: 100%;
                &>i{
                    color: $themeColor;
                    font-size: 22px;
                    margin-left: 10px;
                }
                &>span{
                    line-height: 1;
                    @include space(2px);
                    margin-left: 10px;
                    font-size: 16px;
                }
            }
            &>ul{
                &>li{
                    width: 100%;
                    min-height: 100px;
                    position: relative;
                    @include flex(row,flex-start);
                    &>.checkbox{
                        width: 10%;
                        color: $themeColor;
                        font-size: 22px;
                        padding-left: 10px;
                        box-sizing: border-box;
                    }
                    &>.info{
                        width: 90%;
                        @include flex(row,flex-start);
                        &>img{
                            width: 30%;
                        }
                        &>.text{
                            width: 70%;
                            @include flex(column,space-between,flex-start);
                            &>p{
                                width: 90%;
                                @include ellipsis();
                                font-size: 14px;
                            }
                            &>span{
                                margin: 4px 0;
                                font-size: 14px;
                                color: #E60012;
                            }
                            &>form{
                                @include flex(row,flex-start);
                                &>.subtract{
                                    width: 25px;
                                    height: 25px;
                                    @include flex(row);
                                    color: #666;
                                    font-size: 19px;
                                    line-height: 1;
                                    background-color: #EFEEEC;
                                    -webkit-touch-callout:none;
                                    -webkit-user-select: none;
                                }
                                &>.amount{
                                    text-align: center;
                                    width: 50px;
                                    height: 25px;
                                    box-sizing: border-box;
                                    border-top: 1px solid #EFEEEC;
                                    border-bottom: 1px solid #EFEEEC;
                                    font-size: 14px;
                                }
                                &>.add{
                                    width: 25px;
                                    height: 25px;
                                    @include flex(row);
                                    color: #666;
                                    font-size: 19px;
                                    line-height: 1;
                                    background-color: #EFEEEC;
                                    -webkit-touch-callout: none;
                                    -webkit-user-select: none;
                                }
                            }
                        }
                    }
                    &>.delete{
                        position: absolute;
                        right: 2%;
                        top: 50%;
                        transform: translateY(-50%);
                        color: $seThemeColor;
                        font-size: 26px;
                    }
                }
            }
        }
    }
    &>.footer{
        width: 100%;
        height: 30px;
        @include flex(row);
        border-top: 1px solid $borderColor;
        box-sizing: border-box;
        &>.left{
            @include flex(row,flex-start);
            width: 70%;
            height: 100%;
            &>span{
                padding-left: 10px;
                @include flex(row,flex-start);
                font-size: 14px;
            }
            &>em{
                color: $themeColor;
                font-size: 14px;
                font-style: normal;
            }
        }
        &>.right{
            width: 30%;
            height: 100%;
            @include flex(row);
            background-color: $themeColor;
            &>a{
                font-size: 16px;
                @include space(2px);
                color: #fff;
            }
        }
    }
}
