@import '../../../../static/scss/public.scss';

.shopdetail{
    width: 100%;
    height: 100%;
    @include flex(column,space-between);
    &>.container{
        flex: 1;
        width: 100%;
        overflow-y: auto;
        &>.preview{
            background: url('../../../../static/img/imgLoading.png') no-repeat center center;
            background-size: 40%;
            width: 100%;
            min-height: 320px;
        }
        &>.spec{
            margin-bottom: 20px;
            &>ul{
                width: 100%;
                &>li{
                    @include flex(row,flex-start);
                    padding: 5px 10px;
                    font-size: 14px;
                    &>h6{
                        font-size: 15px;
                    }
                    &>.price{
                        font-size: 14px;
                        color: $seThemeColor;
                    }
                    &>.size{
                        white-space: nowrap;
                    }
                    &>dl{
                        @include flex(row,flex-start);
                        flex-wrap: wrap;
                        &>dd{
                            box-sizing: border-box;
                            margin: 5px;
                            padding: 7px 10px;
                            border: 1px solid $borderColor;
                            border-radius: 5px;
                            line-height: 1;
                            font-size: 14px;
                            background-color: #fff;
                            &.active{
                                border-color: $seThemeColor;
                            }
                        }
                    }
                    &>form{
                        @include flex(row,flex-start);
                        &>.subtract{
                            width: 25px;
                            height: 25px;
                            @include flex(row);
                            color: #666;
                            font-size: 19px;
                            line-height: 1;
                            background-color: #EFEEEC;
                            -webkit-touch-callout:none;
                            -webkit-user-select: none;
                        }
                        &>#amount{
                            text-align: center;
                            width: 50px;
                            height: 25px;
                            box-sizing: border-box;
                            border-top: 1px solid #EFEEEC;
                            border-bottom: 1px solid #EFEEEC;
                            font-size: 14px;
                        }
                        &>.add{
                            width: 25px;
                            height: 25px;
                            @include flex(row);
                            color: #666;
                            font-size: 19px;
                            line-height: 1;
                            background-color: #EFEEEC;
                            -webkit-touch-callout: none;
                            -webkit-user-select: none;
                        }
                    }
                }
            }
        }
        &>.info{
            border-top: 1px solid #aaa;
            &>h6{
                margin: 15px 0;
                text-align: center;
                font-size: 16px;
            }
            &>ul{
                &>li{
                    border-bottom: 1px solid #eee;
                    padding: 0 6px;
                    font-size: 14px;
                    @include flex(row,flex-start);
                    height: 40px;
                    &>i{
                        margin-left: 2px;
                        text-align: left;
                        font-style: normal;
                        width: 25%;
                    }
                    &:first-of-type{
                        border-top: 1px solid #eee;
                    }
                    &:last-child{
                        border: none;
                    }
                }
            }
        }
        &>.pics{
            border-top: 1px solid #aaa;
            &>h6{
                margin: 15px 0;
                text-align: center;
                font-size: 16px;
            }
            &>ul{
                &>li{
                    &>img{
                        background: url('../../../../static/img/imgLoading.png') no-repeat center center;
                        background-size: 40%;
                        min-height: 60px;
                        vertical-align: middle;
                        width: 100%;
                        border-top: 1px solid #ddd;
                    }
                }
            }
        }
        &>.evaluate{
            border-top: 1px solid #aaa;
            &>h6{
                margin: 15px 0;
                text-align: center;
                font-size: 16px;
            }
            &>ul{
                &>li{
                    @include flex(column,center,flex-start);
                    padding: 10px;
                    border-top: 1px solid #F1EDEC;
                    &>i{
                        font-size: 14px;
                        color: $seThemeColor;
                        font-style: normal;
                    }
                    &>p{
                        text-align: left;
                        font-size: 14px;
                        margin: 10px 0;
                    }
                    &>span{
                        width: 100%;
                        text-align: right;
                        font-size: 12px;
                        color: #999;
                    }
                }
            }
        }
    }
    &>.footer{
        border-top: 1px solid $borderColor;
        width: 100%;
        @include flex(row);
        &>.addCart{
            @include flex(row);
            height: 50px;
            width: 50%;
        }
        &>.buy{
            @include flex(row);
            height: 50px;
            width: 50%;
            color: $seThemeColor;
            border-left: 1px solid $borderColor;
        }
    }
}
